{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>La Foresta de Zapallar Administracion</title>
  <link rel="icon" href="{% static 'assets/images/favicon-CwN-VrVg.svg' %}" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1677ff" />
  <meta name="title" content="Mantis React Admin Dashboard Template" />
  <meta name="description"
    content="Start your next React project with the Mantis admin template. It is built with ReactJS, Material-UI, NextJS, and SWR for faster web development." />
  <meta name="keywords"
    content="react admin template, material-ui react dashboard template, reactjs admin template, reactjs dashboard, react backend template" />
  <meta name="author" content="CodedThemes" />
  <link rel="apple-touch-icon" href="{% static 'assets/logo192.png' %}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />

  <script src="https://cdn.jsdelivr.net/npm/resize-observer-polyfill@1.5.1/dist/ResizeObserver.min.js"></script>
  <script defer src="https://fomo.codedthemes.com/pixel/Oo2pYDncP8R8qhhETpWKGA04b8jPhUjF"></script>

  <script type="module" crossorigin src="{% static 'assets/js/index-N34oyj27.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'assets/css/index-BdJ70yjN.css' %}">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>